*
{
	padding:0;
	margin:0;
	font-family:Lato;
}
.first
{
	background-color:#1c1d1b;
	text-align:center;
	height:610px;
	padding-bottom:50px;
	background-image:url("shreya4.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.heading1
{
	padding-top:400px;
	font-size:70px;
	color:#fff;
}
mark.red
{
	color:#D32F2F;
	background:none;
}
.typing
{
	color:#fff;
	font-size:50px;
}
.second
{
	text-align:center;
	height:610px;
	padding-bottom:50px;
	background-image:url("pic5.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.second h1
{
	padding-top:100px;
	padding-bottom:100px;
	color:#838b83;
	background-image:url("back1.jpg");
	/*background-color:#fcfbe3;*/
	font-size:70px;
}
.second p
{
	float:right;
	padding-left:100px;
	text-align:center;
	color:#fff;
	padding-top:80px;
	text-align:justify;
    text-justify:inter-word;
	font-size:18px;
}
.skills
{
	height:610px;
	text-align:center;
	/*background-color:#1c1d1b;*/
	background-image:url("pic2.jpg");
	background-color:#000;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.skills h1
{
	padding-top:100px;
	padding-bottom:100px;
	color:#838b83;
	background-image:url("back1.jpg");
	font-size:70px;
}
.fourcircles
{
	padding-top:0px;
	padding-left:450px;

}
.fourcircles p
{
	color:white;
	padding-top:100px;
	font-family:Lato;

}
.container
{
    width: 110px;
    height: 110px;
    margin: 100px auto;
	float:left;
	padding-left:20px;
	padding-right:20px;
}
.prec{
    top: 30px;
    position: relative;
    font-size: 30px;
}

.circle{
    position: relative;
    top: 5px;
    left: 5px;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #1c1d1b;
}

.active-border{
    position: relative;
    text-align: center;
    width: 110px;
    height: 110px;
    border-radius: 100%;

    background-color:#fff;    
}
#activeBorder1{
background-image:
        linear-gradient(-90deg, transparent 50%, #D32F2F 50%),
        linear-gradient(100deg, #D32F2F 50%, transparent 50%);
}
#activeBorder2{
background-image:
        linear-gradient(-90deg, transparent 50%, #D32F2F 50%),
        linear-gradient(144deg, #D32F2F 50%, transparent 50%);
}
#activeBorder3{
background-image:
        linear-gradient(-90deg, transparent 50%, #D32F2F 50%),
        linear-gradient(180deg, #D32F2F 50%, transparent 50%);
}
.education
{
	text-align:center;
	/*height:610px;*/
	padding-bottom:50px;
	font-family:helvetica;
	background-image:url("pic2.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.education h1
{
	padding-top:100px;
	padding-bottom:100px;
	color:#838b83;
	background-image:url("back1.jpg");
	font-size:70px;
}
.resume
{
	text-align:center;
	/*height:610px;*/
	padding-bottom:50px;
	background-image:url("pic2.jpg");
	background-color:#000;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.resume h1
{
	padding-top:60px;
	padding-bottom:60px;
	color:#838b83;
	background-image:url("back1.jpg");
	font-size:70px;
}
.resume input
{
	margin-top:60px;
	width:150px;
	padding-top:10px;
	padding-bottom:10px;
	color:#fff;
	background-color:#D32F2F;
	font-size:20px;
	border-radius:10px;
	border:1px solid #D32F2F;
}
.contact
{
	text-align:center;
	padding-bottom:50px;
	background-color: #000;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact h1
{
	padding-top:100px;
	padding-bottom:100px;
	color:#838b83;
	background-image:url("back1.jpg");
	font-size:70px;
}
.button
{
	margin-top:30px;
}

.ed-timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #D32F2F;
}
 
.ed-timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}
.ed-timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #D32F2F;
}
 
.ed-timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}
.ed-timeline ul li:nth-child(odd) div {
  left: 45px;
}
 
.ed-timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #D32F2F transparent transparent;
}
.ed-timeline ul li:nth-child(even) div {
  left: -475px;
}
 
.ed-timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #D32F2F;
}
.ed-timeline ul li::after {
  background: #fff;
  transition: background .5s ease-in-out;
}
 
.ed-timeline ul li.in-view::after {
  background: #ffffff;
}
 
.ed-timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
  color: #ffffff;
}
 
.ed-timeline ul li:nth-child(odd) div {
  transform: translate3d(200px,0,0);
}
 
.ed-timeline ul li:nth-child(even) div {
  transform: translate3d(-200px,0,0);
}
 
.ed-timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}
@media screen and (max-width: 900px) {
  .ed-timeline ul li div {
    width: 250px;
  }
  .ed-timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .ed-timeline ul li {
    margin-left: 20px;
  }
  .ed-timeline ul li div {
    width: calc(100vw - 91px);
  }
  .ed-timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .ed-timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F45B69 transparent transparent;
  }
}
